$d-green: #004105;
$l-green: #d8e6d6;
$shadow: #cd853f;
$bg-msg: rgba(#cd853f, 0.8);
$bg-btn: $bg-msg;
$c-btn: rgba($d-green, 0.6);
$c-btn-opf: opacify($c-btn, 0.4);
$fontCS: "PWChalk", cursive, sans-serif;
